 *{
  margin: 0;
  padding: 0;
 }
 .name{
  text-align: center;
 }
 .editb .edcal{
  margin: 0 auto;
  width: 277px;
  height: 75px;
  text-align: right;
  letter-spacing: 2px;
  font-size: 31px;
  padding: 0 5px;
 }
 .card{
  margin: 0 auto;
  max-width: 300px;
  box-shadow: 0 4px 8px 0 rgb(0,0,0,.2);
  
 }
 .card:hover{
  box-shadow: 0 4px 8px 0 rgb(0,0,0,.2);
  background-color: rgb(190, 190, 30);
 }
 .btn{
  width: 70px;
  height: 50px;
  background-color: rgb(142, 148, 148,.2);
 }
 .stl{
  background-color: brown;
 }
 .btn:hover{
  background-color: aquamarine;
 }